
.gotchimon-title {
    font-size: 4rem;
    text-align: center;
}

.start-button {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.exit-button {
    margin-top: 10px;
    text-align: center;
}
