/* Evolution.css */

.evolution-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px; /* Leave space for dialogue at bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evolution-sprite-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Baby Slime Animated Sprite (State 1) */
.baby-slime-evolution-sprite {
    width: 16px;
    height: 15px;
    transform: scale(20);
    image-rendering: pixelated;
    background-image: url('../../../public/assets/sprites/first_evo/Baby_Monster_Idle.png');
    background-size: 80px 15px;
    background-repeat: no-repeat;
    animation: walk 1s steps(4) infinite;
}

@keyframes walk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

/* Dude Monster Animated Sprite (State 2) */
.dude-evolution-sprite {
    width: 30px;
    height: 32px;
    transform: scale(12); /* Scale for evolution scene */
    image-rendering: pixelated;
    background-image: url('../../../public/assets/sprites/second_evo/Dude_Monster_Idle_4.png');
    background-size: 120px 32px;
    background-repeat: no-repeat;
    animation: dude-walk 0.6s steps(4) infinite;
}

@keyframes dude-walk {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -120px;
    }
}

/* Good Monster Animated Sprite (State 3 - Good) */
.good-evolution-sprite {
    width: 32px;
    height: 32px;
    transform: scale(12);
    image-rendering: pixelated;
    background-image: url('../../../public/assets/sprites/third_evo/Good_monster_Idle.png');
    background-size: 128px 32px; /* 4 frames of 32px each */
    background-repeat: no-repeat;
    animation: good-walk 0.6s steps(4) infinite;
}

@keyframes good-walk {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -128px;
    }
}

/* Bad Monster Animated Sprite (State 3 - Bad) */
.bad-evolution-sprite {
    width: 32px;
    height: 32px;
    transform: scale(12);
    image-rendering: pixelated;
    background-image: url('../../../public/assets/sprites/third_evo/Bad_Monster_Idle.png');
    background-size: 192px 32px; /* 6 frames of 32px each */
    background-repeat: no-repeat;
    animation: bad-walk 0.8s steps(6) infinite;
}

@keyframes bad-walk {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -192px;
    }
}

/* Fallback static sprite */
.evolution-sprite-static {
    width: 250px;
    height: auto;
    image-rendering: pixelated;
    transform: scale(2);
}

/* Ensure dialogue appears on top */
.evolution-container + .dialogue {
    z-index: 100;
}

/* Responsive adjustments */
@media (max-width: 420px) {
    .baby-slime-evolution-sprite {
        transform: scale(15);
    }
    
    .dude-evolution-sprite,
    .good-evolution-sprite,
    .bad-evolution-sprite {
        transform: scale(8);
    }
    
    .evolution-sprite-static {
        max-width: 200px;
        transform: scale(1.5);
    }
    
    .evolution-container {
        bottom: 60px;
    }
}