.egg-select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 50px;
    text-align: center;
}

.egg-select-container img {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    image-rendering: pixelated;
}

.egg-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.egg-container:hover {
    transform: translateY(-5px);
}

.egg-select-title {
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
}

.action-container {
    display: flex;
    justify-content: center;
}

.egg-select-back {
    font-size: 1.5rem;
    text-align: center;
}

