.egg-select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 50px;
    text-align: center;
}

/* Prevent Nevermind from shifting */
.egg-fixed-box {
    width: 120px;
    height: 140px;
    margin: 0 auto;
    overflow: visible;
}

.egg-sprite {
    width: 100px;
    image-rendering: pixelated;
}

.egg-container {
    cursor: pointer;
}

/* TITLE */
.egg-select-title {
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
}

/* Nevermind button */
.action-container {
    display: flex;
    justify-content: center;
}

.egg-select-back {
    font-size: 1.5rem;
    text-align: center;
}

/* Hatch shaking effect */
.page-container.shake {
    animation: shakeScreen 0.3s ease;
}

@keyframes shakeScreen {
    0% { transform: translate(3px, 3px); }
    20% { transform: translate(-3px, 2px); }
    40% { transform: translate(3px, -2px); }
    60% { transform: translate(-3px, -3px); }
    80% { transform: translate(3px, 3px); }
    100% { transform: translate(0, 0); }
}

/* Hatching layout */
.egg-hatching-container {
    text-align: center;
}

.egg-hatching-sprite {
    width: 200px;
    image-rendering: pixelated;
    transition: transform 0.2s ease;
}

.hatch-instructions {
    margin-top: 50px;
}

.selected-egg-img {
    display: block;
    margin: 0 auto;
    margin-top: 15%;
    width: 300px;
    image-rendering: pixelated;
}
