.egg-select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 50px;
    text-align: center;
}

.egg-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.egg-container:hover {
    transform: translateY(-5px);
}

.egg-select-title {
    font-size: 4rem;
    text-align: center;
}

.action-container {
    display: flex;
    justify-content: center;
}

.egg-select-back {
    font-size: 1.5rem;
    text-align: center;
}

/* Shake the whole container */
.page-container.shake {
    animation: shakeScreen 0.3s ease;
}

@keyframes shakeScreen {
    0% { transform: translate(3px, 3px); }
    20% { transform: translate(-3px, 2px); }
    40% { transform: translate(3px, -2px); }
    60% { transform: translate(-3px, -3px); }
    80% { transform: translate(3px, 3px); }
    100% { transform: translate(0, 0); }
}

.egg-hatching-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.egg-hatching-sprite {
    width: 200px;
    height: auto;
    transition: transform 0.2s ease;
    image-rendering: pixelated;
}
